* {
  font-family: "Zilla Slab", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  color: #393536;
}

h2 {
  color: #363636;
  font-weight: 600;
  font-size: 1.9rem;
  padding: 8rem 3rem;
  text-align: center;
}
main {
  width: 80%;
  margin: 0 auto;
}
.main-article {
  padding-bottom: 2rem;
}
h3 {
  margin-bottom: 1.5rem;
  
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  text-align: left;
}

footer {
  background-color: #002540;
  margin-top: 9rem;
  height: 12rem;
}

footer h3 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 0;
}

.footer-content-1 {
  width: 80%;
  margin: 0 auto;
}
.footer {
  display: inline-block;
  width: 20%;
  height: 100%;
  float: left;
  padding: 2rem 2rem;
}

.footer ul > li {
  color: #fff;
  list-style: none;
}

.footer ul > li > a,
.contact {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
}
.footer ul > li > a:hover {
  text-decoration: underline;
}

.footer-content-2 {
  background-color: #ebebeb;
  padding: 0.8rem;
}

.footer-content-2 p {
  text-align: center;
}

.footer-content-2 p > a,
#all-rights-reserved {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  text-decoration: none;
}

.footer-content-2 p > a:hover {
  text-decoration: underline;
  color: #0d75be;
}
