* {
  /* google font */
  font-family: "Open Sans", sans-serif;
  /* CSS reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: blue;
  display: inline-block;
}

#box {
    display: inline;
  height: 150px;
  width: 150px;
  padding: 50px;
  border: 1px solid black;
  background-color: orange;
}

#box2 {
  display: inline;
  height: 150px;
  width: 150px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 20px;
  border:1px solid black;
  background-color: yellow;
}

#my-button{
   border: 2px solid #333;
   padding: 10px;
   color: black;
   background-color: darkgray ; 
   border-radius: 8px;
}

#container {
    display: inline;
}
/* #sidebar{
    
    height: 80vh;
    background-color: blue;
    width: 100px;
    padding: 10px;
}

#content{
    display: inline-block;

} */
